@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* =============== 
custom properties
=============== */

:root {
  /* primary colors */
  --clr-blue-100: hsl(239, 57%, 85%);
  --clr-blue-500: hsl(238, 40%, 52%);
  --clr-red-100: hsl(357, 100%, 86%);
  --clr-red-500: hsl(358, 79%, 66%);
  /* neutral colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-gray-100: hsl(228, 33%, 97%);
  --clr-gray-200: hsl(223, 19%, 93%);
  --clr-gray-500: hsl(211, 10%, 45%);
  --clr-gray-800: hsl(212, 24%, 26%);
  /* fonts */
  --ff-primary: 'Rubik', sans-serif;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-gray-100);
}

img {
  width: 100%;
  object-fit: cover;
}
