*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* =============
css custom properties
============= */

:root {
  /* colors */
  --clr-red-500: hsl(10, 79%, 65%);
  --clr-cyan-500: hsl(186, 34%, 60%);
  --clr-brown-200: hsl(28, 10%, 53%);
  --clr-brown-500: hsl(25, 47%, 15%);
  --clr-cream-500: hsl(27, 66%, 92%);
  --clr-orange-100: hsl(33, 100%, 98%);
  --ft-primary: 'DM Sans', sans-serif;
  --border-01: 0.55em;
}

body {
  font-family: var(--ft-primary);
  font-size: 1.125rem;
  background-color: var(--clr-cream-500);
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

.main {
  height: 100vh;
  display: grid;
  place-items: center;
}

/* =============
expenses chart
============= */

.expenses-chart__title,
.summary__title {
  position: absolute;
  left: -100vw;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.expenses-chart-container {
  display: flex;
  flex-direction: column;
  gap: 0.9em;
  width: 91.5vw;
}

.balance {
  display: flex;
  justify-content: space-between;
  color: var(--clr-orange-100);
  background-color: var(--clr-red-500);
  border-radius: var(--border-01);
  padding: 1.25em 1.1em;
}

.balance__title {
  font-size: 0.81em;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.balance__amount {
  font-size: 1.35em;
  font-weight: 500;
}

.balance__logo-link {
  display: flex;
  align-items: center;
  margin-right: 0.25em;
}

.balance__logo-img {
  height: 2.2em;
}

.expenses {
  background-color: var(--clr-orange-100);
  border-radius: var(--border-01);
  padding: 1.4em 0.8em;
}

.expenses__title {
  color: var(--clr-brown-500);
  font-size: 1.34em;
  padding-inline: 0.2em;
  margin-bottom: 0.4em;
}

.expenses__chart {
  margin-bottom: 1.3em;
}

.expenses__divider {
  display: block;
  width: 97%;
  height: 0.33em;
  background-image: linear-gradient(
    var(--clr-cream-500),
    var(--clr-cream-500),
    var(--clr-orange-100),
    var(--clr-orange-100)
  );
  border-radius: 100vh;
  border-bottom: 1px groove hsl(33, 100%, 96%);
  margin-bottom: 1.25em;
  margin-inline: auto;
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-inline: 0.3em;
}

.summary__monthly,
.summary__rate {
  display: flex;
  flex-direction: column;
  color: var(--clr-brown-200);
  font-size: 0.84em;
}

.summary__monthly-amount,
.summary__rate-value {
  color: var(--clr-brown-500);
  font-weight: 700;
}

.summary__monthly-amount {
  font-size: 1.975em;
}

.summary__monthly {
  gap: 0.5em;
}

.summary__rate {
  align-items: flex-end;
  gap: 0.1em;
}
