*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ===============
Global Variables
=============== */

:root {
  /* primary color */
  --clr-primary-500: hsl(231, 69%, 60%);
  /* secondary color */
  --clr-secondary-500: hsl(0, 94%, 66%);
  /* neutral */
  --clr-grey-50: hsl(240, 10%, 96%);
  --clr-grey-100: hsl(220, 7%, 92%);
  --clr-grey-200: hsl(230, 7%, 84%);
  --clr-grey-300: hsl(228, 8%, 76%);
  --clr-grey-400: hsl(231, 8%, 68%);
  --clr-grey-500: hsl(229, 8%, 60%);
  --clr-grey-600: hsl(231, 5%, 48%);
  --clr-grey-700: hsl(228, 5%, 36%);
  --clr-grey-800: hsl(230, 5%, 24%);
  --clr-grey-900: hsl(220, 5%, 12%);
  --clr-neutral-500: hsl(229, 31%, 21%);
  /* font */
  --ff-primary: 'Rubik', sans-serif;
}

/* ===============
Global Styles
=============== */
body {
  font-family: var(--ff-primary);
}

h1,
h2,
h3,
h4 {
  color: var(--clr-neutral-500);
  font-weight: 500;
  line-height: 1.35;
}

p {
  color: var(--clr-grey-500);
  font-size: 0.935rem;
  line-height: 1.57rem;
}

/* ===============
Global Classes
=============== */
.img {
  display: block;
  width: 100%;
}

.img-bg {
  position: absolute;
  width: 80.5vw;
  /* height: 12.7rem; */
  height: 54.2vw;
  background-color: var(--clr-primary-500);
}

.container--center {
  width: 83vw;
  margin-inline: auto;
}

.section {
  margin-bottom: 9.5rem;
}

.title--center {
  text-align: center;
  margin-bottom: 0.75rem;
}

.text--center {
  text-align: center;
}

.btn {
  font-size: 0.86rem;
  font-family: var(--ff-primary);
  font-weight: 500;
  letter-spacing: 0.25px;
  border-color: transparent;
  border-radius: 0.3rem;
  padding: 0.88rem 1rem;
  transition: 0.275s ease-in-out all;
  box-shadow: 0px 5px 6px -3px rgba(145, 148, 161, 0.4);
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0px 5px 6px -3px rgba(145, 148, 161, 0.7);
}

.btn--primary {
  color: #fff;
  background-color: var(--clr-primary-500);
}

.btn--primary:hover {
  color: var(--clr-primary-500);
  background-color: transparent;
  border: 2px solid var(--clr-primary-500);
}

.btn--grey {
  color: var(--clr-grey-700);
  background-color: var(--clr-grey-50);
}

.btn--grey:hover {
  color: var(--clr-grey-700);
  background-color: transparent;
  border: 2px solid var(--clr-grey-700);
}

/* ===============
Nav
=============== */

/* navbar */
.navbar {
  margin-top: 2.4rem;
  margin-bottom: 4.6rem;
}

.navbar--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  height: 1.55rem;
}

.navbar__toggle-btn {
  font-size: 1.25rem;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

/* ===============
Hero
=============== */
.hero__img--container {
  position: relative;
  margin-bottom: 3.65rem;
}

.hero__img {
  width: 93.5%;
  margin-inline: auto;
  z-index: 1;
}

.hero__img-bg {
  position: absolute;
  top: 3.75rem;
  right: 0;
  border-bottom-left-radius: 6.15rem;
  z-index: -1;
}

.hero__title {
  font-size: 1.865rem;
  text-align: center;
  margin-bottom: 1rem;
}

.hero__text {
  text-align: center;
  padding-inline: 1rem;
  margin-bottom: 2rem;
}

.hero__action-btns {
  display: flex;
  justify-content: space-between;
}

/* ===============
Features
=============== */
.features__info {
  margin-bottom: 2.5rem;
}

/* tabs */

.features__tabs {
  display: grid;
  border-top: 1px solid var(--clr-grey-200);
  margin-bottom: 4.5rem;
}

.features__bookmark-tab,
.features__search-tab,
.features__share-tab {
  position: relative;
  color: var(--clr-grey-800);
  font-size: 1rem;
  background-color: transparent;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid var(--clr-grey-200);
  padding-block: 0.75rem;
  cursor: pointer;
}

.features__bookmark-tab::after,
.features__search-tab::after,
.features__share-tab::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 8rem;
  height: 0.25rem;
  background-color: var(--clr-secondary-500);
  transition: 0.25s ease-in-out all;
  opacity: 0;
}

.features__bookmark-tab:hover.features__bookmark-tab::after,
.features__search-tab:hover.features__search-tab::after,
.features__share-tab:hover.features__share-tab::after {
  opacity: 1;
}

/* content */
.features__bookmarking,
.features__searching,
.features__sharing {
  display: none;
}

.features__content--selected {
  display: grid;
  row-gap: 5rem;
  text-align: center;
}

.features__bookmarking-img--container,
.features__searching-img--container,
.features__sharing-img--container {
  position: relative;
}

.features__bookmarking-img,
.features__searching-img,
.features__sharing-img {
  width: 83vw;
  margin-inline: auto;
}

.features__bookmarking-img--bg,
.features__searching-img--bg,
.features__sharing-img--bg {
  left: 0;
  z-index: -2;
  height: 100%;
  border-bottom-right-radius: 6.15rem;
}

.features__bookmarking-img--bg {
  top: 17.5%;
}

.features__searching-img--bg {
  top: 20%;
  width: 75%;
  height: 85%;
  border-top-right-radius: 50%;
}

.features__sharing-img--bg {
  top: 22%;
  height: 90%;
}

.features__bookmarking-title,
.features__searching-title,
.features__sharing-title {
  font-size: 1.5rem;
}

.features__bookmarking-text,
.features__searching-text,
.features__sharing-text {
  width: 85vw;
  margin-inline: auto;
}

.features__bookmarking-btn,
.features__searching-btn,
.features__sharing-btn {
  display: none;
}

/* ===============
Download
=============== */
.download {
  text-align: center;
}

.download__title {
  margin-bottom: 0.65rem;
}

.download__text {
  width: 80vw;
  margin-inline: auto;
  margin-bottom: 2.5rem;
}

.download__chrome {
  background: url(../images/bg-dots.svg) 0 80% / contain no-repeat;
  width: 75vw;
  padding-block: 3rem 1.5rem;
  padding-inline: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0px 13px 20px -1px rgba(77, 95, 148, 0.29);
  -webkit-box-shadow: 0px 13px 20px -1px rgba(77, 95, 148, 0.29);
  -moz-box-shadow: 0px 13px 20px -1px rgba(77, 95, 148, 0.29);
  margin-inline: auto;
}

.download__chrome-img {
  margin-bottom: 1.6rem;
}

.download__chrome-title {
  font-size: 1.26rem;
  margin-bottom: 0.3rem;
}

.download__chrome-text {
  margin-bottom: 3rem;
}

.download__chrome-btn {
  width: 100%;
}
