*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ===============
Global Variables
=============== */

:root {
  /* primary color */
  --clr-primary-500: hsl(231, 69%, 60%);
  /* secondary color */
  --clr-secondary-500: hsl(0, 94%, 66%);
  /* neutral */
  --clr-grey-100: hsl(220, 7%, 92%);
  --clr-grey-200: hsl(230, 7%, 84%);
  --clr-grey-300: hsl(228, 8%, 76%);
  --clr-grey-400: hsl(231, 8%, 68%);
  --clr-grey-500: hsl(229, 8%, 60%);
  --clr-neutral-900: hsl(229, 31%, 21%);
  /* font */
  --ff-primary: font-family: 'Rubik', sans-serif;
}

/* ===============
Nav
=============== */

/* navbar */
.navbar__toggle-btn {
  font-size: 1.25rem;
  border-color: transparent;
  background-color: transparent;
}