*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ===============
Global Variables
=============== */

:root {
  /* primary color */
  --clr-primary-500: hsl(231, 69%, 60%);
  /* secondary color */
  --clr-secondary-500: hsl(0, 94%, 66%);
  /* neutral */
  --clr-grey-50: hsl(240, 10%, 96%);
  --clr-grey-100: hsl(220, 7%, 92%);
  --clr-grey-200: hsl(230, 7%, 84%);
  --clr-grey-300: hsl(228, 8%, 76%);
  --clr-grey-400: hsl(231, 8%, 68%);
  --clr-grey-500: hsl(229, 8%, 60%);
  --clr-grey-600: hsl(231, 5%, 48%);
  --clr-grey-700: hsl(228, 5%, 36%);
  --clr-grey-800: hsl(230, 5%, 24%);
  --clr-grey-900: hsl(220, 5%, 12%);
  --clr-neutral-500: hsl(229, 31%, 21%);
  /* font */
  --ff-primary: 'Rubik', sans-serif;
}

/* ===============
Global Styles
=============== */
body {
  font-family: var(--ff-primary);
}

h1,
h2,
h3,
h4 {
  color: var(--clr-neutral-500);
  font-weight: 500;
}

p {
  color: var(--clr-grey-500);
  font-size: 0.9rem;
  line-height: 1.5rem;
}

/* ===============
Global Classes
=============== */
.img {
  display: block;
  width: 100%;
}

.container--center {
  width: 83vw;
  margin-inline: auto;
}

.btn {
  font-size: 0.875rem;
  font-family: var(--ff-primary);
  font-weight: 500;
  border-color: transparent;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  transition: 0.275s ease-in-out all;
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.3);
}

.btn--primary {
  color: #fff;
  background-color: var(--clr-primary-500);
}

.btn--primary:hover {
  color: var(--clr-primary-500);
  background-color: transparent;
  border: 2px solid var(--clr-primary-500);
}

.btn--grey {
  color: var(--clr-grey-700);
  background-color: var(--clr-grey-50);
}

.btn--grey:hover {
  color: var(--clr-grey-700);
  background-color: transparent;
  border: 2px solid var(--clr-grey-700);
}

/* ===============
Nav
=============== */

/* navbar */
.navbar {
  margin-top: 2.4rem;
  margin-bottom: 4rem;
}

.navbar--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  height: 1.55rem;
}

.navbar__toggle-btn {
  font-size: 1.25rem;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

/* ===============
Hero
=============== */
.hero__img {
  width: 95%;
  margin-inline: auto;
}
