@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* =============
custom properties
============= */

:root {
  /* primary */
  --clr-orange-500: hsl(25, 97%, 53%);
  /* neutrals */
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey-200: hsl(217, 12%, 63%);
  --clr-grey-300: hsl(216, 12%, 54%);
  --clr-blue-700: hsl(213, 19%, 18%);
  --clr-blue-900: hsl(216, 12%, 8%);
  /* fonts */
  --ff-primary: 'Overpass', sans-serif;
  /* set */
  --clr-main-bg: var(--clr-blue-900);
  --clr-text: var(--clr-grey-300);
}

body {
  color: var(--clr-text);
  font-family: var(--ff-primary);
  font-size: 0.9375rem;
  background-color: var(--clr-main-bg);
}

img {
  width: 100%;
}

.main {
  height: 100vh;
  display: grid;
  place-items: center;
}

/* =============
rating component
============= */

.rating {
  position: relative;
  width: 87%;
  max-width: 25.75rem;
  height: 22.5rem;
  background-image: linear-gradient(hsl(215, 20%, 16%), hsl(215, 27%, 12%));
  border-radius: 1rem;
  overflow: hidden;
}

@media screen and (min-width: 40rem) {
  .rating {
    height: 26rem;
    border-radius: 2rem;
  }
}

.rating__main,
.rating__submitted {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.rating__submitted {
  opacity: 0;
}

.rating--submitted .rating__main,
.rating--submitted .rating__submitted {
  transform: translateX(-100%);
}

.rating--submitted .rating__main {
  animation: fadeOut 0.5s;
  opacity: 0;
}

.rating--submitted .rating__submitted {
  animation: fadeIn 0.5s;
  opacity: 1;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.rating__img-container {
  display: grid;
  place-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--clr-blue-700);
  border-radius: 50%;
  padding: 0.8rem;
  margin-bottom: 1.3rem;
}

.rating__title {
  color: var(--clr-white);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.rating__copy {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.9rem;
}

.rating__input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.rating__input-label {
  position: relative;
  width: 2.6rem;
  height: 2.6rem;
  cursor: pointer;
}

.rating__input {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}

.rating__input-text {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
  font-weight: 700;
  background-color: var(--clr-blue-700);
  border-radius: 50%;
  padding-top: 0.25rem;
  transition: all 0.25s ease-in-out;
}

.rating__input-label:hover .rating__input-text {
  color: var(--clr-white);
  background-color: var(--clr-orange-500);
}

.rating__input:checked + .rating__input-text {
  color: var(--clr-white);
  background-color: var(--clr-grey-300);
}

.rating__submit-btn {
  width: 100%;
  height: 2.75rem;
  color: var(--clr-white);
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: var(--clr-orange-500);
  border-color: transparent;
  border-radius: 100vh;
  cursor: pointer;
}

.rating__submit-btn:hover {
  color: var(--clr-orange-500);
  background-color: var(--clr-white);
}

.rating__submitted {
  top: 0;
  left: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2.15rem;
}

.rating__submitted .rating__img {
  width: 9rem;
  margin-bottom: 1.5rem;
}

.rating__user-rating {
  color: var(--clr-orange-500);
  font-size: 0.88rem;
  background-color: var(--clr-blue-700);
  border-radius: 100vh;
  padding: 0.55rem 0.75rem 0.4rem 0.75rem;
  margin-bottom: 1.75rem;
}

.rating__submitted .rating__title {
  margin-bottom: 0.85rem;
}

.rating__submitted .rating__copy {
  text-align: center;
}
